.cms{:id => "#{element.id}", :class => "editable #{element.md5_reference}"}
  = render "lava/elements/text", { :element => element, :args => args }

- if can_edit?
  :css
    .cms:hover{background-color:#ffc;}

  - css_class = ".#{element.md5_reference}"
  :javascript
    $(document).ready(function(){
      $("#{css_class}").editable("/elements", {
        #{element.present? ? "loadurl: '/elements/#{element.id}?Rnd=' + Math.random().toString()," : ""}
        submitdata: {
          utf8:               "✓",
          authenticity_token: #{form_authenticity_token.inspect},
          element:            {
            reference:    "#{element.md5_reference}",
            element_type: "text"
          }
        },
        indicator:  "Saving...",
        type:       "#{args[:editor_type]}",
        rows:       "#{args[:editor_rows]}",
        width:      "100%",
        tooltip:    "Click to edit...",
        onblur:     "ignore",
        submit:     "OK",
        cancel:     "Cancel"
      });
    });