.cms{:id => "element_#{element.id}", :class => "editable #{element.md5_reference}"}
  = render "lava/elements/video", { :element => element, :args => args }

- if can_edit?
  :css
    .editable:hover{background-color:#ffc;}

  - css_class = ".#{element.md5_reference}"
  :javascript
    $("#{css_class}").editable("/elements", {
      name:       "element[value]",
      submitdata: {
        utf8: "✓",
        authenticity_token: #{form_authenticity_token.inspect},
        element: {
          reference: "#{element.md5_reference}",
          element_type: "video"
        }
      },
      indicator:  "Saving...",
      #{element.present? ? "loadurl: '/elements/#{element.id}'," : ""}
      type:       "text",
      tooltip:    "Click to edit...",
      onblur:     "ignore",
      submit:     "OK",
      cancel:     "Cancel",
      callback:   function(value, settings) {
        $("#ajax_container").removeClass('saving');
        $('#ajax_container').text('complete');
        setTimeout(function(){ $("#ajax_container").fadeOut() }, 2000);
      }
    });