- width   = args[:width]
- height  = args[:height]

.cms{:id => "", :class => "editable #{element.reference}", :style => "width: #{width}px; height: #{height}px;"}
  - unless element.upload.nil?
    - if element.url.present?
      = link_to element.url, :title => element.value do
        = image_tag(element.upload.thumb("#{width}x#{height}\#").url, :width => width, :height => height, :alt => "#{element.value}")
    - else
      = image_tag(element.upload.thumb("#{width}x#{height}\#").url, :width => width, :height => height, :alt => "#{element.value}")
  - else
    %div{:style => "background:url('/assets/lava/stripe.png') top left; width: #{width}px; height: #{height}px;"}
  - if can_edit?
    .image_controls
      %ul
        - if element.upload.nil?
          %li{:id => "delete_link"}
            = link_to "Upload an Image...", "#", :id => "ajaxupload_#{element.reference}"
        - else
          %li{:id => "delete_link"}= link_to "Caption", "#", :onclick => "return change_caption('#{element.id}');"
          %li{:id => "delete_link"}= link_to "Link", "#", :onclick => "return change_url('#{element.id}');"
          %li{:id => "delete_link"}= link_to "Delete", l.element_path(element), :method => :delete, :confirm => "Delete this Image?"
          %li{:id => "delete_link"}= link_to "Upload...", "#", :id => "ajaxupload_#{element.reference}"
