- width       = args[:width]
- height      = args[:height]
- image_attrs = {:alt => "#{element.value}"}

.cms{:class => "editable #{element.md5_reference}"}
  - if element.upload.present?
    - if element.url.present?
      = link_to element.url, :title => element.value do
        = image_tag(element.upload.thumb("#{width}x#{height}\#").url, image_attrs)
    - elsif args.has_key?(:url) && args[:url].present?
      = link_to image_tag(element.upload.thumb("#{width}x#{height}\#").url, image_attrs), args[:url]
    - else
      = image_tag(element.upload.thumb("#{width}x#{height}\#").url, image_attrs)
  - else
    - if element.url.present?
      = link_to image_tag("/assets/lava/transparent-bg.gif", image_attrs.merge({:style => "background:url('/assets/lava/stripe.png')"}))
    - elsif args.has_key?(:url) && args[:url].present?
      = link_to image_tag("/assets/lava/transparent-bg.gif", image_attrs.merge({:style => "background:url('/assets/lava/stripe.png')"})), args[:url]
    - else
      - if args[:edit] != false
        = image_tag("/assets/lava/transparent-bg.gif", image_attrs.merge({:style => "background:url('/assets/lava/stripe.png')"}))

  - if can_edit? && (args[:edit] != false)
    .image_controls
      %ul
        - if element.upload.nil?
          %li{:id => "delete_link"}
            .dirty_upload_container
              = form_tag '/elements', :method => :post, :remote => true, :multipart => true do
                .lab Upload...
                = file_field_tag "element[upload]", :class => "dirty_upload", :onchange => "this.form.submit();"
                = hidden_field_tag "element[reference]", "#{element.reference}"
                = hidden_field_tag "element[value]", "ajax-upload"
                = hidden_field_tag "element[element_type]", "image"
                
        - else
          %li{:id => "delete_link"}= link_to "Caption", "#", :onclick => "return change_caption('#{element.id}');"
          %li{:id => "delete_link"}= link_to "Link", "#", :onclick => "return change_url('#{element.id}');"
          %li{:id => "delete_link"}= link_to "Delete", l.element_path(element), :method => :delete, :confirm => "Delete this Image?"
          %li{:id => "delete_link"}
            .dirty_upload_container
              = form_tag '/elements', :method => :post, :remote => true, :multipart => true do
                .lab Upload...
                = file_field_tag "element[upload]", :class => "dirty_upload", :onchange => "this.form.submit();"
                = hidden_field_tag "element[reference]", "#{element.reference}"
                = hidden_field_tag "element[value]", "ajax-upload"
                = hidden_field_tag "element[element_type]", "image"
